html, body, .root {
  margin: 0;
  top: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
  margin: 0px;
}

h2 {
  font-size: 22px;
  margin: 0px;
  font-weight: 600;
}

h3 {
  font-size: 18px;  
  margin: 0px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  margin: 0px;
  font-weight: 400;
}

h6 {
  font-size: 10px;
  margin: 0px;
  font-weight: 400;
}

hr {
  border: 0.01px solid rgb(219, 216, 216);
  margin: 20px 0px;
  /* width: 20rem; */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  border: 1px solid blue;
  margin: 0px;
}

.app-margin {
  margin: 0px 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.head {
  margin-bottom: 8px;
  padding-bottom: 8px;
  background-color: #ffeec9;
  position: sticky;
  /* z-index: 1000; */
  top: 0;
}

.headerLista {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerArrow {
  margin: 4px 18px 0px 0px;
}

.headerLista-firstLine-icons {
  margin: 4px 0px 0px 60px;
  position: relative;
}

.fila-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  flex: 1 1 0%;
}

.fila-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.fila-start-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.fila-start-group span {
  margin-right: 2px;
}

.material-symbols-outlined:hover {
  background-color: #e0e0e0;
  border-radius: 40px;
}

.icon-small {
  font-size: 16px;
}

.icon-medium {
  font-size: 20px;
}

.icon-large {
  font-size: 24px;
}

.icon-xlarge {
  font-size: 36px;
}

.votarButton {
  font-size: medium;
  border-radius: 5px;
}

.item {
  margin-bottom: 12px;
}

.ItemCheckbox {
  width: 15px;
  height: 14px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 3px;
  cursor: pointer;
}

.ItemText {
  margin-left: 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 0%;
  max-width: 100%;
}

.ItemName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  min-width: 0;
  width: auto;
}

.ItemName.expanded {
  overflow: visible;
  text-overflow: unset;
  white-space: normal; 
  word-wrap: break-word;
  text-transform: capitalize;
}

.ItemPrice {
  /* margin-left: 22px; */
  white-space: nowrap;
  flex-shrink: 0;
  overflow: hidden
}

.hidden {
  display: none;
}

.categories {
  margin-top: 10px
}
.categoryList {
  margin-bottom: 18px;
}

.titleCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.newCategory {
  color: #9E9E9E;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.newItem {
  color: #9E9E9E;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 18px;
}

.ItemText input, 
.ItemText input:hover,
.titleCategory input, 
.titleCategory input:hover {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: black;
  /* flex: 1 auto; */
  padding: 0;
}

.ItemText input[type=text],
.titleCategory input[type=text] {
  width: 165px;
}

.ItemText input[type=number] {
  max-width: 50px;
  box-sizing: border-box;
  flex: 1 0;
  text-align: end;
}

.ItemText input[type="number"]::-webkit-inner-spin-button,
.ItemText input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.optionsMenu {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  width: 190px;
  height: auto;
  background-color: white;
  padding: 10px 5px;
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;
}

.pointer {
  cursor: pointer;
}

.itemMenu {
  margin: 4px 0px 4px 8px;
  border-radius: 5px;
}

.itemSettings {
  margin-top: 8px;
}

.itemMenu:hover {
  background-color: #f4f4f4;
  padding-left: 3px;
}

.NewLista {
  position: absolute;
  bottom: 60px;
  right: 70px;
}

.addingLista {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  background-color: #f4f4f4;
  padding: 10px;
}

.addingLista.material-symbols-outlined:hover {
  border-radius: 10px;
}

.vistaListas {
  height: auto;
  border-radius: 10px;
  border: 2px solid #ffeec9;
  margin-bottom: 10px;
}

.iconsNavBar {
  margin-left: 6px;
}

.iconsNavBar span {
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FormLista label {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.FormLista input,
.FormLista select {
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: #ebeaea;
  flex: 1;
  font-family: inherit;
  font-size: 16px;
  color: black;
  padding: 5px 5px;
  width: 100%;
}

.FormLista input::first-letter,
.FormLista select::first-letter {
  text-transform: capitalize;
}

.FormLista textarea {
  border: none;
  border-radius: 6px;
  outline: none;
  resize: none;
  background-color: #ebeaea;
  flex: 1;
  font-family: inherit;
  font-size: 16px;
  color: black;
  padding: 5px 5px;
  margin: 5px 0px;
  width: 100%;
}

.FormLista input::placeholder,
.FormLista select::placeholder
.FormLista textarea::placeholder {
  color: lightgray;
  opacity: 1;
}

button[type=submit] {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border: 2.5px solid #9E9E9E;
  margin-top: 15px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

.FormLista form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}

.iconed-container {
  margin: 5px 0px;
  width: 100%;
}

.iconSuperpuesto {
  position: absolute;
  right: 15px;
  color: rgb(139, 139, 139);
  opacity: 1;
}

.buttonRegistro {
  border-radius: 5px;
  background-color: #f4f4f4;
  border: 2.5px solid #9E9E9E;
  top: 0;
}

.login {
  margin-top: 20px;
}

.login form{
  display: flex;
  flex-direction: column;
}

.login label {
  font-size: 12px;
}

.login input {
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  color: black;
  background: transparent;
  flex: 1;
  padding: 0;
  margin: 5px 0px;
  padding: 3px 6px;
}

.redirect {
  cursor: pointer;
  font-size: 12px;
  margin-top: 8px;
}

.redirect:hover {
  text-decoration: underline;
}

.introPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personalData {
  border-radius: 15px;
  background-color: #e2e0e0;
}

.infoPersonalData, .arrowPersonalData {
  padding: 10px

}

.linksPerfil h5 {
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
}

.linksPerfil h5:hover {
  text-decoration: underline;
}

/* .contentPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.emptyState {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.button_emptyState {
  margin-top: 12px;
  padding: 5px;
  border: 1.5px solid #ED9E04;
  border-radius: 5px;
  background-color: #FBE7C1;
  text-align: center;
  cursor: pointer;
}

.ToggleLista {
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 5px 8px;
  margin: 5px 0px 30px 0px;
  width: max-content;
}

.toggle {
  border-radius: 5px;
  padding: 3px 5px;
  margin: 0px 2px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.toggleActive {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 2px 3px;
  margin: 0px 4px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;

}

.verticalLine {
  height: 20px;
  width: 1.5px;
  background-color: #a6a6a6;
}

.iconPlan {
  border: 2px solid blue;
  border-radius: 30px;
  padding: 4px 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(196, 195, 195, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.SharePopUP {
  border-radius: 10px;
  box-shadow: 0px 0px 300px rgba(0,0,0,0.3);
  background-color: white;
  padding: 10px 25px;
  z-index: 1000;
  top: 200px;
  position: fixed;
}

.SharePopUP button[type=submit] {
  height: 30px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border: 2.5px solid #9E9E9E;
  margin: 15px 0px;
}