html, body, .root {
  margin: 0;
  top: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 26px;
  margin: 0px;
}

h2 {
  font-size: 22px;
  margin: 0px;
}

h3 {
  font-size: 18px;  
  margin: 0px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  margin: 0px;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 390px;
  height: 844px;
  border: 1px solid blue;
  margin: 0px 5;
}

.app-margin {
  width: 360px;
  height: 844px;
  margin: 0px 15px;
  border: 1px solid red;

}

.headingPhone {
  width: 390px;
  height: 47px;
  background-color: #f4f4f4;
}

.headerLista {
  margin-bottom: 8px;
  padding-bottom: 8px;
  background-color: #ffeec9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerArrow {
  margin: 4px 18px 0px 0px;
}

.headerTitle {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerLista-firstLine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  white-space: nowrap;
  flex: 1 1 0%;
}

.headerLista-firstLine-icons {
  margin: 4px 0px 0px 60px;
}

.subHeaderLista-secondLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerLista-secondLine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerLista-secondLine-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.headerLista-secondLine-group span {
  margin-right: 4px;
}

.material-symbols-outlined:hover {
  background-color: #e0e0e0;
  border-radius: 40px;
}

.icon-medium {
  font-size: 20px;
}

.icon-large {
  font-size: 24px;
}

.icon-xlarge {
  font-size: 36px;
}

.votarButton {
  font-size: medium;
  border-radius: 5px;
}

.itemList {
  margin-top: 20px;
}

.itemLine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.ItemCheckbox {
  width: 15px;
  height: 14px;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 18px;
  margin-left: 3px;
  margin-top: 3px;
  cursor: pointer;
}

.ItemText {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
}

.ItemName {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemPrice {
  margin-left: 22px;
  white-space: nowrap;
  flex-shrink: 0;
}

.hidden {
  display: none;
}

.categoryList {
  margin-bottom: 15px;
}

.titleCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newItem {
  color: #9E9E9E;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
}

.newItemText {
  margin-left: 13.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 0%;
}

.newItemText input, 
.newItemText input:hover {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: black;
  background: transparent;
}
