html, body, .root {
  margin: 0;
  top: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 30px;
  margin: 0px;
}

h2 {
  font-size: 26px;
  margin: 0px;
}

h3 {
  font-size: 22px;  
  margin: 0px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  margin: 0px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 390px;
  height: 844px;
  border: 1px solid blue;
  margin: 0px 5;
}

.app-margin {
  width: 360px;
  height: 844px;
  margin: 0px 15px;
  border: 1px solid red;

}

.headingPhone {
  width: 390px;
  height: 47px;
  background-color: #f4f4f4;
}

.headerLista {
  margin-bottom: 18px;
  padding-bottom: 8px;
  background-color: #ffeec9;
}

.headerLista-firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerLista-firstLine-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subHeaderLista-secondLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon-large {
  font-size: 30px;
}

.icon-xlarge {
  font-size: 36px;
}

.headerLista-secondLine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerLista-secondLine-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.headerLista-secondLine-group span {
  margin-right: 4px;
}

.votarButton {
  font-size: medium;
  border-radius: 5px;
}

.itemList {
  margin-top: 25px;
}

.itemLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 18px;
}

.radioButton[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 21px;
}

.ItemName {
  width: 210px;
  margin-right: 15.5px;
}

.hidden {
  display: none;
}

.categoryList {
  margin-bottom: 15px;
}

.titleCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
}